{% extends 'base.html' %}
{% load static %}


{% block title %}
    Cuisine - About Us
{% endblock title %}
{% block header %}
    <h1 class="site-heading text-center text-faded d-none d-lg-block text-secondary">
        <span class="site-heading-upper text-secondary mb-3" style="padding-top: 30px;">About Us</span>
        <span class="site-heading-lower">Our Life</span>
    </h1>
{% endblock header %}

{% block content %}
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src={% static 'assets/img/about.png' %} style="width: 100%" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Three food lovers!</span>
                                <span class="section-heading-lower">About Our life</span>
                            </h2>
                            <p>Juan, Maryury, and Ginno are three food lovers and programmers that enjoy having a great time with their friends surrounded by delicious dishes. Their experience as a chefs is as hight as their experience as programmers.</p>
                            <p class="mb-0">
                                As Chef, <b>Juan Manuel</b> is deeply compromised with the mediterranean food, exquisit frozen desserts and a love for perfection. He is a professional engineer with emphasis in automation, deep knowledge in Javascript, SCL, C, and C++.
                            </p>
                            <br>
                            <p class="mb-0">
                                As food lover <b>Marury Montes</b> loves cooking asian food, her passion for the sushi is equally compared with the excelency of her liquor beverages  and a love for perfection. On her part, she is a proficient data analist with high knowledge on tools such as; Power BI, SQL, Tableau, VBA, Office, among others.
                            </p>
                            <br>
                            <p class="mb-0">
                                At the cooking field <b>Ginno Vera</b> outstands for his abilities at the moment of cooking italian and french food, his magnificient cuisine promises never let you down. Finally, he is an expert language professor as well as a software developer with years of experience in scripting, web scrapping, and web development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}