{% extends 'base.html' %}
{% load static %}


{% block title %}
    Cuisine - Home
{% endblock title %}
{% block header %}
    <h1 class="site-heading text-center text-faded">
        <span class="site-heading-upper text-secondary mb-3" style="padding-top: 30px;">The tasty</span>
        <span class="site-heading-lower text-secondary">Cooking Blog</span>
    </h1>
{% endblock header %}
        
{% block content %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src={% static 'assets/img/intro.jpg' %} alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Fresh Food</span>
                        <span class="section-heading-lower">Delicious Cuisine</span>
                    </h2>
                    <p class="mb-3">We would love to inve you to taste our delicious website. Come in and find different recipes you'd like to try. Or come in and start sharing your delicious recpies!</p>
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href={% url 'login' %}>Come in!</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

