{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete Post
{% endblock title %}

{% block content %}
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-secondary mb-3" style="padding-top: 30px;">Wait</span>
        <span class="site-heading-lower text-secondary">Are you sure?</span>
    </h1>
</header>
<div class="container mt-5" style="height: 450px; padding-top: 10px;">
    <div class="row justify-content-center">
        <div class="col-lg-6 bg-faded p-5 rounded">
            <p class="text-center">
                This cannot be <b>undo</b>
            </p>
            <p class="text-center">
                <span class="text-center">You are eraseing <b>{{ object.title }}</b></span>
            </p>
            <form action="{% url 'delete_post' object.id %}" method="POST">
                {% csrf_token %}
                <div class="text-center mt-3">
                    <button class="btn btn-danger" type="submit">Delete Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
