{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

{% block header %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<link href={% static "css/create_post.css" %} rel="stylesheet" />
{% endblock header %}

{% block title %}
    Detail Post
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9 bg-faded rounded">
            <header>
                <h1 class="site-heading text-center text-faded d-none d-lg-block">
                    <span class="site-heading-upper text-secondary mb-3" style="padding-top: 30px;">{{ post.recipe_country }}</span>
                    <span class="site-heading-lower text-secondary">{{ post.title }}</span>
                </h1>
            </header>
            <div class="product-item-title d-flex justify-content-center">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                </div>
            </div>
            {% if post.image %}
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 custom-style" src="{{ post.image.url }}" alt="..." />
            {% else %}
            <img
                class="rounded-circle mb-2 mt-2"
                width="150px"
                src="{% static 'img/generic-empty-image.png'%}"
                />
            {% endif %}
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">{{ post.description|safe }}</p></div>
            </div>
            <div class="mt-4">
                <a href="{% url 'blog_index' %}" class="btn btn-primary">Back to Index</a>
                <a href="{% url 'update_post' post.id %}" class="btn btn-primary">Update Post</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-primary">Delete Post</a>
            </div>
            <div class="comments mt-4">
                <h2>Comments</h2>
                <ul>
                    {% for comment in comments %}
                        <div class='rounded-3 p-2 mb-2 bg-light text-dark'>
                        {{ comment.author}}: {{ comment.comment|safe }}
                        </div>
                    {% empty %}
                        <li>no comments yet.</li>
                    {% endfor %}
                </ul>
                
                <h2>Add a Comment</h2>
                <form method='post'>
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type='submit'>Submit</button>
                </form>
            </div>
        </div>
        <p class="text-white">Creation Date: {{ post.creation_date }}</p>
    </div>
    
</div>
{% endblock %}
