{% extends 'base.html' %}

{% load static %}

{% block title %}
Search Post
{% endblock title %}

{% block content %}

<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-secondary mb-3" style="padding-top: 30px;">Search Results</span>
        <span class="site-heading-lower text-secondary">Feeling hungry?</span>
    </h1>
</header>

<div id="site-content" style="height: 600px;">
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-md-9">
                        <div class="slider">
                            <ul>
                                {% for post in object_list %}
                                <li><a class="text-secondary" style="font-size: 40px;" href={% url 'detail_post' post.id %}>{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-12">
                                        <div class="latest-movie">
                                            <h3 style="color:black; text-align:center;">Other results</h3>
                                            <ul>
                                                {% for post in object_list %}
                                                <a href={% url 'detail_post' post.id%}><p style="color:grey;">{{forloop.counter}} {{post.title}}</p></a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </main>
                <footer class="site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                </div>
                            </div>
                    </div>
                </footer>
            </div>
        </div>

            <script src={% static 'js/jquery-1.11.1.min.js' %}></script>
            <script src={% static 'js/plugins.js' %}></script>
            <script src={% static 'js/app.js' %}></script>
{% endblock content %}